extends layouts/layout

block content 
  .card.w-50(style="min-width: 25em")
    .card-header
      h1 Welcome Back
    .card-body
      form(action="/login", method="post").needs-validation
        if message
          p.alert.alert-info #{message}
        .mb-3.form-floating
          input.form-control(name='username', required, placeholder='Username')
          label.form-label(for="username") Username
        .mb-3.form-floating
          input.form-control(name="password", type="password", required, placeholder='Password')
          label.form-label(for="password") Password
        .d-grid.gap-2
          .btn-group.d-none.d-lg-block
            button.btn.btn-primary.w-50(type="submit") Sign in
            a.btn.btn-secondary.w-50(href="/") Nevermind
          .d-lg-none
            button.btn.btn-primary.w-100(type="submit") Sign in
            a.btn.btn-secondary.w-100.mt-2(href="/") Nevermind
    .card-footer
      .text-center.mt-3
        p Don't have an account yet?
          br
          a.btn.btn-outline-primary.mt-2(href="/signup") Sign up
