extends layouts/layout

block content 
  form(action="/login", method="post")
    section
      label(for="text") Username
      input(name='username')
    section
      label(for="password") Password
      input(name="password", type="password")
    section
      button(type="submit") Sign in
      a(href="/") Nevermind
    section
      p Don't have an account yet?
        a(href="signup")  Sign up  
    if message
      p #{message}

