doctype html 
html(lang='en')
  head
    title Hello, World!
  body
    h1 Hello, World!
    p Welcome to my first Express app!
    div.remark
      p This is a simple Express app that uses Pug as the view engine.
    
