extends layouts/layout

block content 
  form(action="/login", method="post")
    label(for="text") Username
    input(type="text", name='email')
    label(for="password") Password
    input(type='password', name="Password")
    button(type="submit") Sign in
    a(href="/") Nevermind
    p Don't have an account yet?
      a(href="signup")  Sign up  
    if message
      p #{message}

